<header style="position: sticky; top: 0; z-index: 1">
  <navbar>
    <div style="background-color: black; padding: 10px 0px">
      <ul
        style="list-style: none; display: flex; justify-content: space-between"
      >
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/products"
          >Products</a>
        </li>
        {{#if canShowRealtime}}
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/realTimeProducts"
          >RealTime</a>
        </li>
        {{/if}}
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/chat"
          >Chat</a>
        </li>
        <li style="padding: 0 5%;">
              <a
                style="color: white; text-decoration: none; font-weight: bold; display: flex"
                href="/carts"
              >Cart</a>
            </li>
        <li style="padding: 0 5%;">
          <a
            style="color: white; text-decoration: none; font-weight: bold"
            href="/api/users/logout"
          >Log out</a>
        </li>
      </ul>
    </div>
  </navbar>
</header>

<h1>Welcome {{userName}} to our products! 😎</h1>

{{#if products.length}}
  <section class="productsContainer">
    {{#each products}}
      <div class="productsCard">
        <h3>Title: {{title}}</h3>
        <h4>Description: {{description}}</h4>
        <h4>Price: {{price}}</h4>
        <img src="{{thumbnail}}" />
        {{#unless ../isAdmin}}
        {{#unless ownProduct}}
        <div class="buttons">
          <button
            onclick="deleteProduct('{{../cartId}}','{{_id}}')"
            class="minusButton"
          >-</button>
          <button
            onclick="addProduct('{{../cartId}}','{{_id}}')"
            class="plusButton"
          >+</button>
        </div>
        {{/unless}}
        {{/unless}}
      </div>
    {{/each}}
  </section>
{{else}}
  <h3>Error loading our products, please try reloading the page  🔃</h3>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
